/*Template Main CSS File*/
input[type=text]{
    width: 100%;
  border: 2px solid rgb(0, 110, 110);
  border-radius: 5px;
  background-color: darkcyan;
  color: white;
  
  }
  textarea{
    width: 100%;
    border-radius: 5px;
    background-color:darkcyan ;
    color: white;
    text-align: center;
  }
  ::placeholder{
    color :white;
  }
 